
body{
    background-color: rgba(24, 24, 24, 0.5);
    text-align: center;
    font-family: sans-serif;
}
h1{
    color:black;
    font-size: larges;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    background-color:mintcream;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .form-div {
    text-align: left;
    margin-bottom: 25px;
  }
  .form-div input,
.form-div textarea {
  border: 1px solid slategray;
  border-radius: 2px;
  font-family: inherit;
  padding: 15px;
  display: block;
  width: 75%;
}
.form-div input[type="radio"] {
  display: inline-block;
  width: auto;
}

button {
    background-color:grey;
    border: 1px solid ;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .form-div label{
    display: block;
  margin-bottom: 10px;

  }